* {
  box-sizing: border-box;
}
body {
  background-color: #f1f1f3;
}

/* button-primary */
.button-primary {
  background-color: #006a50;
  border: 1px solid #006a50;
  border-radius: 5px;
  padding: 17px 20px;
  color: white;
}
.button-primary:hover {
  background-color: white;
  border: 1px solid #006a50;
  color: #006a50;
  background: #f3faf8;
  cursor: pointer;
}

/* banner-secion */
.banner-secion {
  display: flex;
  background-color: #c6e4d6;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  width: 100%;
  height: 560px;
  margin: 0 auto 80px auto;
  border-radius: 15px;
  gap: 84px;
  padding: 0 80px;
  p {
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 700;
    color: #0e0e0e80;
    margin: 0px;
  }
  h1 {
    font-size: 56px;
    font-family: "Fira Sans", serif;
    font-weight: bold;
    margin: 20px 0px;
  }
  .banner-img {
    width: 474px;
    height: 400px;
  }
}

/* Vision of Future */
.vision-Future {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 80px auto;

  h3 {
    font-family: "Fira Sans", serif;
    font-size: 40px;
    margin: 0px;
  }
  p {
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: #5c5b5b;
    line-height: 24px;
  }
  .cards-section {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    .card {
      width: 410px;
      height: 325px;
      padding: 32px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card1 {
      background-color: #c4d9fc;
    }
    .card2 {
      background-color: #c6e4d6;
    }
    .card3 {
      background-color: #f7ebcf;
    }
    img {
      height: 62px;
      width: 62px;
    }
    h4 {
      font-size: 22px;
      margin: 0px;
      color: #3d3c3c;
      font-family: "Fira Sans", serif;
    }
    p {
      font-size: 18px;
      margin: 0px;
      color: #525252;
      font-family: "Fira Sans", serif;
      line-height: 24px;
    }
    .Future-button-all {
      border: none;
      border-radius: 5px;
      padding: 13px 22px;
      color: white;
    }
    .Future-button1 {
      background-color: #5490f5;
      border: 1px solid #5490f5;
    }
    .Future-button1:hover {
      background-color: white;
      border: 1px solid #5490f5;
      color: #5490f5;
      cursor: pointer;
    }
    .Future-button2 {
      background-color: #09a15c;
      border: 1px solid #09a15c;
    }
    .Future-button2:hover {
      background-color: white;
      border: 1px solid #09a15c;
      color: #09a15c;
      cursor: pointer;
    }
    .Future-button3 {
      background-color: #ffc239;
      border: 1px solid #ffc239;
    }
    .Future-button3:hover {
      background-color: white;
      border: 1px solid #ffc239;
      color: #ffc239;
      cursor: pointer;
    }
  }
}

/* Quote Section */
.quote-section {
  background-image: url(./assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 25px 20px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 80px auto;
  background-color: white;
  padding: 45px 24px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 25px;
  p {
    font-family: "Fira Sans", serif;
    margin: 0;
    color: #424242;
    line-height: 24px;
    &:nth-of-type(2) {
      color: #5c5b5b;
    }
  }
  h4 {
    font-family: "Fira Sans", serif;
    margin-bottom: 5px;
  }
}

/* Recent News */
.recent-News {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 40px auto;
  h3 {
    font-family: "Fira Sans", serif;
    font-size: 40px;
    margin: 0px;
  }
  p {
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: #5c5b5b;
    line-height: 24px;
    /* margin: 0px; */
  }
  .news-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .news {
    display: flex;
    background-color: #fff;
    gap: 45px;
    padding: 48px;
    border-radius: 25px;
  }
  .text-sec h4 {
    font-family: "Fira Sans", serif;
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .img-sec img {
    border-radius: 25px;
  }
  .date-time {
    display: flex;
    gap: 12px;
  }
}

/* Donate today */
.donate-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  h3 {
    font-family: "Fira Sans", serif;
    font-size: 40px;
    margin-bottom: 0px;
    text-align: center;
  }
  p {
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: #5c5b5b;
    text-align: center;
    width: 1104px;
    margin: 24px auto;
    line-height: 24px;
  }
  .donate-selection {
    display: flex;
    gap: 24px;
    justify-content: center;
    .donate {
      width: 240px;
      height: 128px;
      background-color: #fff;
      border: 1px solid rgb(196, 196, 196);
      border-radius: 10px;
      &:nth-of-type(2) {
        background-color: #c6e4d6;
      }
    }
    .donate:hover {
      background: #006a50;
      color: white;
    }
  }
  input {
    width: 1032px;
    padding: 20px;
    margin-top: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  input::placeholder {
    text-align: center;
    font-size: 20px;
  }
  button {
    margin-top: 32px;
  }
}

/* Newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 40px auto;
  background-color: #c6e4d6;
  padding: 70px 100px;
  border-radius: 25px;
  h3 {
    font-family: "Fira Sans", serif;
    font-size: 40px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  p {
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: #5c5b5b;
    text-align: center;
    width: 622px;
    margin: 0;
    line-height: 24px;
  }
  .subscribe-sec {
    width: 750px;
    margin: 25px auto;
    display: flex;
  }
  input {
    width: 100%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 35px;
  }
  button {
    font-weight: bolder;
    padding: 15px 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
  }
}
